@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body
{
    font-family: Poppins;
}

.container
{
    /* background-color: greenyellow; */
    height:100%;
    width:100%;
    position:absolute;
}

.navbar-container>*
{
    display:inline-block;
}

.list>*
{
    display: inline-block;
}

.navbar-container
{
    /* background-color: aqua; */
    position:absolute;
    width:100%;
    height:100px;
}
.logo
{
    position:absolute;
    top:20px;
    left:40px;
}

.list
{
    position:absolute;
    top:25px;
    left:200px;
}

.list-item
{
    margin-left: 40px;
    font-size: larger;
    color:#7a7979;
    cursor: pointer;
}
.list .list-item:hover
{
    color:#000000;
}

.button-group
{
    position:absolute;
    right:160px;
    top:30px;
    
    
}
.nav-button
{
    border-radius:5px;
    width:150px;
    height:40px;
    border: none;
    background-color: #5955B3;
    color:#f0f8ff;
    font-weight: bold;
    cursor: pointer;
}
.nav-button:hover
{
    background-color: #1c14ba;
}

.art 
{
    position:absolute;
    width:750px;
    height:500px;
    bottom:5px;
    right:0;
}

.heading-text
{   
    /* background-color: #f0f8ff; */
    font-size: 60px;
    width:430px;
    position:absolute;
    top:80px;
    left:140px;
    color:#282562;
}
.crush
{
    color:#5f14ba;
}

.description
{
    /* background-color: #f0f8ff; */
    font-size: 15px;
    width:340px;
    position:absolute;
    bottom:140px;
    left:140px;
    color:#7a7979;
}

.nav-button-btn
{
    position:absolute;
    bottom:90px;
    left:140px;
    border-radius:5px;
    width:150px;
    height:40px;
    border: none;
    background-color: #5955B3;
    color:#f0f8ff;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.nav-button-btn:hover
{
    background-color: #1c14ba;
}
